/*@import '../blocks/__wrap_dividerA.scss';*/
.dividerA_table {
  width: 100%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse; }

.dividerA {
  width: 74%;
  background-color: green;
  margin: 0 auto; }

.dividerA_img {
  display: inline-block;
  float: right; }
  .dividerA_img:hover {
    opacity: 0.8; }

.wrap_dividerA {
  display: block;
  text-align: center; }

.tabzeni {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
  border: 1px solid white;
  color: black;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
  background-color: white; }

.zena {
  margin: 0px;
  padding: 5px 7px;
  border: 1px solid white;
  text-align: center;
  background-color: #cbe2ed; }

.verh {
  padding: 5px 7px;
  font-weight: normal;
  width: 191px;
  border: 1px solid white;
  color: white;
  background-color: #086897;
  text-align: center; }

@media only screen and (max-width: 990px) {
  .dividerA_img {
    float: none; } }
