.dividerA_table{
	width: 100%;
	margin-top: 20px ;
	margin-right: auto;
	margin-left: auto;


border-collapse: collapse;

}
.dividerA{
	/*width: 74%;*/
	background-color: green;
	margin:0 auto;
}


.dividerA_img{
	
	display: inline-block;
	float:right;
	&:hover{
		    opacity: 0.8;
	}
	
}
.wrap_dividerA{
	display: block;
	text-align: center;
}
.tabzeni {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    line-height: 18px;
    background-color: rgb(255, 255, 255);
}
.zena {
    margin: 0px;
    padding: 5px 7px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(203, 226, 237);
}
.verh {
    padding: 5px 7px;
    font-weight: normal;
    width: 191px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(8, 104, 151);
    text-align: center;
}
@media only screen and (max-width:990px){
	.dividerA_img{
	
	float:none;
	
}
}

